#modal {
    position: absolute;
    z-index: 2;
    right: 10px;
    top: 10px;
    width: 400px;
    word-break: break-word;
    border-radius: 6px;
    background: #bad5ff;
  }

  /* Быстрый совет по CSS: позиция: фиксированная; остается на том же месте 
  при прокрутке страницы, тогда как позиция: абсолютная; - прокручивается вниз вместе 
  со страницей.
  z-индекс: 2; будет размещаться поверх содержимого страницы. */
